body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(243, 233, 213);
  color: rgb(225, 71, 71); 
  text-align: center;
  margin: 0;
}

header {
  background-color: rgba(240, 199, 150, 0.453);
  color: rgba(144, 26, 26, 0.366); 
  padding: 20px 0;
}

main {
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none; 
}







