---
import Page from "../components/Page.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Page title="FIXME Portfolio">
  <h1>
    Chery's Portfolio
  </h1>
  <h2> Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
       <li>
        <a href="./projects/web-project/"> 
          Peer to peer filsharing
        </a>
      </li>
       <li>
        <a href="./AboutMe/"> 
          About Me
         </li>
          <a href="./Goal/">
          Goal's
          </li>
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  
 <h3>Projects</h3>
  <ul>
    <li>Binary Search</li>
  </ul>

  <h3>What is the Binary Project About</h3>
  <p>In this assignment, you make a game where the computer guesses what you're thinking by asking yes/no questions and narrowing down the options. It keeps halving the possibilities based on your answers. You’ll use if statements and loops to control the game and handle inputs/outputs to talk to the player. You also test the game to make sure it works properly and only accepts valid answers.</p>

<h3>Experiance</h3> 
<p>For this assignment, I created a game where the computer guesses the number you're thinking of using binary search. The computer asks if the number is higher or lower than a guess, then narrows down the options until it finds the right one. I used if statements to check the user's answers and loops to keep guessing until the right number was found. I also tested the game to make sure it only accepted valid inputs, like numbers, and gave clear feedback to the user. This helped me understand how binary search works and how to build a program that interacts with the user.</p>

</Page>
