---
import Page from "../components/Page.astro";
---

<Page title="FIXME Portfolio">
  <h1>
    Chery's Portfolio
  </h1>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>About Me</h2>
  <p>Hi! I'm Chery,I'm a determine and problem solver, I love dealing with challenegs such as coding.</p>
  <h3>Skills</h3>
  <ul>
  <li>Coding on Git and Github</li>
  <li>HTML & CSS</li>
  </ul>
  <h3>Intersts</h3>
  <p> In my own free time, I love to explore new things and laern alot from it. I esciapply try to push myself to overcome diffcult challenges such as computer sciemce.</p>
  


</Page>
