---
import Project from "../../components/Project.astro"
---

<Project
  title="Turtle Mini Drawing"
  assignment="Choosing an drawing of any kind and let the program draw it out"
>

   <p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="NPKKzPx" data-pen-title="Mini Turtle Project" data-user="Chery-Berroa" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/Chery-Berroa/pen/NPKKzPx">
  Mini Turtle Project</a> by Chery Berroa (<a href="https://codepen.io/Chery-Berroa">@Chery-Berroa</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

</Project> 