---
import Project from "../../components/Project.astro"
---
<Project
  title="Peer to Peer Filesharing"
  assignment="Research a technology impacts the web"
>
   <p>
     In this project, we researched a technology that impacts the web, specifically focusing on Peer-to-Peer (P2P) file sharing. We explored how P2P networks allow direct file sharing between users, without the need for central servers. This decentralized approach improves speed and efficiency, allowing users to share large files more easily and securely.
   </p>
   <p>
     HTML was used to embed the presentation and structure the page where we displayed our findings. The embedded Google Slides presentation helped communicate the details of P2P file sharing and its significance on modern web technologies. CSS was minimally used, as the focus was more on the content and presentation of the research. However, the overall layout and design were kept clean to ensure readability.
   </h3>
   <p>
     While JavaScript was not central to this project, understanding its role in web technologies helped us see how file-sharing systems can be implemented in web applications. For instance, JavaScript could be used to facilitate file transfers, handle connections, or improve the user interface of a P2P file-sharing platform.
   </p>
   <p>
     Through this project, we learned how Peer-to-Peer technology works and its impact on the efficiency and scalability of web applications. We also gained experience in researching and presenting technology topics, and how different technologies (like HTML, CSS, and JavaScript) can support a modern web system.
   </p>

   <iframe 
   src="https://docs.google.com/presentation/d/e/2PACX-1vRnjeGpreZ1vkQvn8wHTuJG1fKm89MKOhJxdZu40BMjLqbNamHldIZQuLIV8OrvAXx2D4AwoFNTxeRf/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

</Project>


